/*
	Escape Velocity 2.5 by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body, input, select, textarea
	{
		font-size: 13pt;
		line-height: 1.75em;
		letter-spacing: 0.025em;
	}

	body
	{
		min-width: 1200px;
	}

	hr
	{
		margin: 2em 0 2em 0;
	}

	section,
	article
	{
		margin: 0 0 4em 0;
	}

	header.style1
	{
		padding: 3em 0 3em 0;
	}

		header.style1 h2
		{
			font-size: 2em;
			letter-spacing: 0.075em;
			line-height: 1.5em;
		}
		
		header.style1 .byline
		{
			display: block;
			margin: 1.15em 0 0 0;
			font-size: 1.3em;
			letter-spacing: 0.075em;
			line-height: 1.5em;
		}

	form
	{
	}
	
		form label
		{
			margin: 0.25em 0 0.25em 0;
		}

	.button
	{
		padding: 0 2.25em 0 2.25em;
		font-size: 0.9em;
		min-width: 12em;
		height: 4em;
		line-height: 4em;
	}
	
		.button-big
		{
			font-size: 1em;
			min-width: 14em;
		}

	.actions
	{
		margin: 3em 0 0 0;
	}
	
		form .actions
		{
			margin-top: 1em;
		}
	
		.actions li
		{
			display: inline-block;
			margin: 0 0.75em 0 0.75em;
		}
		
		.actions li:first-child
		{
			margin-left: 0;
		}
		
		.actions li:last-child
		{
			margin-right: 0;
		}
		
		.actions-centered
		{
			text-align: center;
		}
		
	.feature-list
	{
	}

		.feature-list section
		{
			padding-top: 2em;
			border-top: solid 1px #eee;
		}

		.feature-list .row
		{
		}
	
			.feature-list .row:first-child
			{
			}
			
				.feature-list .row:first-child section
				{
					padding-top: 0;
					border-top: 0;
				}

		.feature-list h3
		{
			margin: 0 0 0.75em 0;
			font-size: 1.15em;
			letter-spacing: 0.05em;
			margin-top: -0.35em;
		}

			.feature-list h3:before
			{
				width: 64px;
				height: 64px;
				line-height: 64px;
				margin-right: 0.75em;
				font-size: 32px;
				top: 0.2em;
			}
	
		.feature-list p
		{
			margin: 0 0 0 5em;
		}
		
		.feature-list-small
		{
		}
		
			.feature-list-small h3
			{
			}
		
				.feature-list-small h3:before
				{
					font-size: 24px;
					line-height: 45px;
					width: 45px;
					height: 45px;
					margin-right: 1em;
				}
				
			.feature-list-small p
			{
				margin: 0 0 0 4em;
			}

	.is
	{
	}
	
		.is header
		{
			margin: 0 0 1.5em 0;
		}

			.is header.style1
			{
				position: relative;
				margin: -0.5em 0 0 0;
				padding-top: 0;
			}

		.is h2
		{
			margin: 0 0 0.75em 0;
			font-size: 1.15em;
			letter-spacing: 0.05em;
		}

		.is h3
		{
			margin: 0 0 0.5em 0;
			font-size: 1em;
			font-weight: 600;
			letter-spacing: 0.05em;
		}

	.is-pair-one
	{
		padding-right: 1.5em;
	}

	.is-pair-two
	{
		padding-left: 1.5em;
	}
	
	.is-triple-one
	{
		padding-right: 1.5em;
	}
	
	.is-triple-two
	{
		padding-left: 0.75em;
		padding-right: 0.75em;
	}
	
	.is-triple-three
	{
		padding-left: 1.5em;
	}

	.is-post-excerpt
	{
	}
	
		.is-post-excerpt .image-left
		{
			position: relative;
			top: 0.5em;
			width: 5em;
		}
		
		.is-post-excerpt h3,
		.is-post-excerpt p
		{
			margin-left: 7em;
		}
		
/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	.wrapper
	{
		padding: 6em 0 9em 0;
	}

		.wrapper .title
		{
			font-size: 0.9em;
			width: 25em;
			height: 3.25em;
			top: -3.25em;
			line-height: 3.25em;
			margin-bottom: -3.25em;
			margin-left: -12.5em;
			padding-top: 0.5em;
		}

	#header-wrapper
	{
		padding: 0;
		height: 400px;
	}

		.homepage #header-wrapper
		{
			height: 573px;
		}

	#intro-wrapper
	{
		padding-bottom: 8em;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: relative;
		height: 400px;
	}

		.homepage #header
		{
			height: 573px;
		}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		height: 5em;
		top: 50%;
		left: 0;
		width: 100%;
		text-align: center;
		margin-top: -0.5em;
        background-color: rgba(0,0,0,0,0.5);        
	}

		.homepage #logo
		{
			margin-top: -1em;
		}

		#logo h1
		{
			font-size: 2em;
			letter-spacing: 0.25em;
            background-color:rgba(0,0,0,0.5)
		}
		
		#logo .byline
		{
			margin: 1.25em 0 0 0;
			display: block;
			letter-spacing: 0.6em;
			font-size: 0.9em;
            background-color:rgba(0,0,0,0.5)
		}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
		position: absolute;
		display: block;
		top: 2.5em;
		left: 0;
		width: 100%;
		text-align: center;
	}

		#nav > ul > li > ul
		{
			display: none;
		}

		#nav > ul
		{
			display: inline-block;
			border-radius: 0.35em;
			box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.25);
			padding: 0 1.5em 0 1.5em;
            background-color: rgba(58,08,50,0.5);
		}

		#nav > ul > li
		{
			display: inline-block;
			text-align: center;
			padding: 0 1.5em 0 1.5em;
		}
		
			#nav > ul > li > a,
			#nav > ul > li > span
			{
				display: block;
				color: #eee;
				color: rgba(255,255,255,0.75);
				text-transform: uppercase;
				text-decoration: none;
				font-size: 0.7em;
				letter-spacing: 0.25em;
				height: 5em;
				line-height: 5em;
				-moz-transition: all .25s ease-in-out;
				-webkit-transition: all .25s ease-in-out;
				-o-transition: all .25s ease-in-out;
				-ms-transition: all .25s ease-in-out;
				transition: all .25s ease-in-out;
				outline: 0;
			}
			
			#nav > ul > li:hover > a,
			#nav > ul > li.active > a,
			#nav > ul > li.active > span
			{
				color: #fff;
			}

	.dropotron
	{
		background: #222835 url('images/overlay.png');
		background-color: rgba(44,50,63,0.925);
		padding: 1.25em 1em 1.25em 1em;
		border-radius: 0.35em;
		box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.25);
		min-width: 12em;
		text-align: left;
	}
	
		.dropotron.level-0
		{
			margin-top: -1px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	
		.dropotron a,
		.dropotron span
		{
			display: block;
			color: #eee;
			color: rgba(255,255,255,0.75);
			text-transform: uppercase;
			text-decoration: none;
			font-size: 0.7em;
			letter-spacing: 0.25em;
			border-top: solid 1px rgba(255,255,255,0.15);
			line-height: 3em;
			-moz-transition: all .25s ease-in-out;
			-webkit-transition: all .25s ease-in-out;
			-o-transition: all .25s ease-in-out;
			-ms-transition: all .25s ease-in-out;
			transition: all .25s ease-in-out;
		}
		
		.dropotron li:first-child a,
		.dropotron li:first-child span
		{
			border-top: 0;
		}
		
		.dropotron li:hover > a,
		.dropotron li:hover > span
		{
			color: #fff;
		}

/*********************************************************************************/
/* Intro                                                                         */
/*********************************************************************************/

	#intro
	{
		text-align: center;
	}

		#intro .style1
		{
			font-size: 1.5em;
			letter-spacing: 0.075em;
		}	
		
		#intro .style2
		{
			font-size: 2.75em;
			letter-spacing: 0.075em;
			line-height: 1.35em;
			padding: 1em 0 1em 0;
			margin-bottom: 1em;
		}
		
		#intro .style3
		{
			font-size: 1.1em;
			width: 48em;
			margin: 0 auto;
		}

/*********************************************************************************/
/* Features                                                                      */
/*********************************************************************************/

	#features
	{
		padding: 0 6em 0 6em;
	}

		#features header.style1
		{
			padding-bottom: 5em;
		}
		
		#features .actions
		{
			margin-top: 5em;
		}

/*********************************************************************************/
/* Highlights                                                                    */
/*********************************************************************************/

	#highlights
	{
	}

		#highlights .highlight
		{
		}

			#highlights .highlight h3
			{
				margin: 0 0 0.75em 0;
				font-size: 1.15em;
				letter-spacing: 0.05em;
			}

		#highlights .highlight-one
		{
			padding-right: 2em;
		}
		
		#highlights .highlight-two
		{
			padding: 0 1em 0 1em;
		}
		
		#highlights .highlight-three
		{
			padding-left: 2em;
		}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		margin: 1em 0 1em 0;
	}

		.homepage #main
		{
			margin: 0;
		}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
	}

		.left-sidebar #sidebar
		{
			padding-right: 3em;
		}

		.right-sidebar #sidebar
		{
			padding-left: 3em;
		}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

		#footer header.style1
		{
			padding-bottom: 0;
		}

		#footer hr
		{
			margin: 6em 0 6em 0;
		}

		#footer .footer-one
		{
			padding-right: 1.5em;
		}
		
		#footer .footer-two
		{
			padding-left: 1.5em;
		}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		margin: 6em 0 0 0;
	}
	
		#copyright span
		{
			padding: 1.5em 4em 1.5em 4em;
			line-height: 1em;
			font-size: 0.8em;
		}